
.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
}

.logo {
  float: left;
  font-size: 3rem;
  font-weight: bold;
  font-style: italic;
  color: white;
  text-decoration: underline;
}

.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.link-item {
  margin-left: 20px;
  font-size: 1.5rem;
  margin-bottom: 20px;
}
 .nav-link:hover{
  background-color: chocolate;
  border-radius: 10px;
}